<!doctype html>
<title>Silvr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Silvr</h1>
  <div class=metanav>
  {% for (uri, display_name) in navbar %}
      <a href="{{ uri }}">{{ display_name }}</a> |
  {% endfor %}
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">Log In</a>
  {% else %}
      <a href="{{ url_for('new_post') }}">New Post</a> |
    <a href="{{ url_for('logout') }}">Log Out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>