{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
    {% if entry.id != 0 %}
        <form action="{{ url_for('edit_entry', entry_id=entry.id) }}" method=post class=add-entry>
    {% else %}
        <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    {% endif %}
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title value="{{ entry.title }}">
        <dt>Category:
        <dd><select name="category">
            <option value="{{ entry.category }}">No Category</option>
          {% for category in categories %}
            <option value="{{ category.category }}">{{ category.category }}</option>
          {% endfor %}
        </select> <a href = {{ url_for('new_category') }}> Create Category </a>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40 value="{{ entry.text }}"></textarea>
          {% if entry.id != 0 %}
              <dd><input type=submit value=Update>
          {% else %}
              <dd><input type=submit value=Share>
          {% endif %}
      </dl>
    </form>
    {% else %}
    You do not appear to be logged in.
  {% endif %}
{% endblock %}
